<table class="table table-bordered">  
  <tbody>
    <tr>      
      <td class="label-cell">First Name</td>
      <td class="value-cell first-name">{{ appData.firstName }}</td>
    </tr>
    <tr>      
      <td class="label-cell">Last Name</td>
      <td class="value-cell last-name">{{ appData.lastName }}</td>
    </tr>
    <tr>      
      <td class="label-cell">Age</td>
      <td class="value-cell age">{{ appData.age }}</td>
    </tr>
    <tr>      
      <td class="label-cell">Gender</td>
      <td class="value-cell gender">{{ appData.gender }}</td>
    </tr>
  </tbody>
</table>
